{% extends 'layout.html' %}
{% block body %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 my-4">
            <div class="list-group">
                <a href="/cs" class="list-group-item ">Computer-Science</a>
                <a href="/ec" class="list-group-item">Electronics-communication</a>
                <a href="/me" class="list-group-item">Mechanical</a>
                <a href="/cv" class="list-group-item">Civil</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
                {% for product in cs %}
                <div class="col-lg-6">
                    <div class="card mt-4">
                        <img class="card-img-top img-fluid"
                             src="static/image/product/{{product.category}}/{{product.picture}}" alt="">
                    </div>
                </div>
                <!-- /.card -->
                <div class="col-lg-6">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Order Details
                        </div>
                        <div class="card-body">
                            {% from "includes/_formhelpers.html" import render_field %}
                            <form method="POST" action="/{{product.category}}?order={{product.b_id}}">
                                <div class="form-group">
                                    {{render_field(form.name, class_="form-control")}}
                                </div>
                                <div class="form-group">
                                    {{render_field(form.mobile_num, class_="form-control")}}
                                </div>

                                
                                <div class="form-group">
                                    {{render_field(form.order_place, class_="form-control")}}
                                </div>
                                <div class="form-group">
                                    {{render_field(form.area_pin, class_="form-control")}}
                                </div>
                                <button type="submit" class="btn btn-primary">Request Order</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /.card -->

            </div>
            
        </div>
        <!-- /.col-lg-9 -->


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}
